<div>
    <h2 id="page-heading">
        <span>Scores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-scores" [routerLink]="['/scores/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Scores
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="scores">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="score"><span>Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lecturerId"><span>Lecturer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="courseId"><span>Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="questioncategoryId"><span>Questioncategory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scores of scores ;trackBy: trackId">
                <td><a [routerLink]="['/scores', scores.id, 'view' ]">{{scores.id}}</a></td>
                <td>{{scores.score}}</td>
                <td>
                    <div *ngIf="scores.lecturerId">
                        <a [routerLink]="['../lecturer', scores.lecturerId , 'view' ]" >{{scores.lecturerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="scores.courseId">
                        <a [routerLink]="['../courses', scores.courseId , 'view' ]" >{{scores.courseId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="scores.questioncategoryId">
                        <a [routerLink]="['../question-category', scores.questioncategoryId , 'view' ]" >{{scores.questioncategoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/scores', scores.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/scores', scores.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'scores', { outlets: { popup: scores.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="scores && scores.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
