<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-scores-heading">Create or edit a Scores</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!scores.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="scores.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                        [(ngModel)]="scores.score" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lecturer">Lecturer</label>
                    <select class="form-control" id="field_lecturer" name="lecturer" [(ngModel)]="scores.lecturerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lecturerOption.id" *ngFor="let lecturerOption of lecturers; trackBy: trackLecturerById">{{lecturerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_course">Course</label>
                    <select class="form-control" id="field_course" name="course" [(ngModel)]="scores.courseId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="coursesOption.id" *ngFor="let coursesOption of courses; trackBy: trackCoursesById">{{coursesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_questioncategory">Questioncategory</label>
                    <select class="form-control" id="field_questioncategory" name="questioncategory" [(ngModel)]="scores.questioncategoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionCategoryOption.id" *ngFor="let questionCategoryOption of questioncategories; trackBy: trackQuestionCategoryById">{{questionCategoryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
