<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="scores">
            <h2><span>Scores</span> {{scores.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Score</span></dt>
                <dd>
                    <span>{{scores.score}}</span>
                </dd>
                <dt><span>Lecturer</span></dt>
                <dd>
                    <div *ngIf="scores.lecturerId">
                        <a [routerLink]="['/lecturer', scores.lecturerId, 'view']">{{scores.lecturerId}}</a>
                    </div>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <div *ngIf="scores.courseId">
                        <a [routerLink]="['/courses', scores.courseId, 'view']">{{scores.courseId}}</a>
                    </div>
                </dd>
                <dt><span>Questioncategory</span></dt>
                <dd>
                    <div *ngIf="scores.questioncategoryId">
                        <a [routerLink]="['/question-category', scores.questioncategoryId, 'view']">{{scores.questioncategoryId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/scores', scores.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
