<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courses">
            <h2><span>Courses</span> {{courses.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{courses.title}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{courses.code}}</span>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="courses.departmentId">
                        <a [routerLink]="['/department', courses.departmentId, 'view']">{{courses.departmentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/courses', courses.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
