<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-assessment-heading">Create or edit a Assessment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!assessment.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="assessment.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_faculty">Faculty</label>
                    <select class="form-control" id="field_faculty" name="faculty" (change)="onChange($event)" >
                        <option [value]="null"></option>
                        <option [value]="facultyOption.id" *ngFor="let facultyOption of faculties; trackBy: trackFacultyById">{{facultyOption.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_department" >Department</label>
                    <select class="form-control" id="field_department" name="department"  (change)="onChangeDepartment($event)">
                        <option [value]="null"></option>
                        <option [value]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_course">Courses</label>
                    <select class="form-control" id="field_course" name="course" (change)="onChangeCourse($event)">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackDepartmentById">{{courseOption.title}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_course">Lecturer</label>
                    <select class="form-control" id="field_lecturer" name="lecturer" [(ngModel)]="assessment.lecturerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lecturerOption.id" *ngFor="let lecturerOption of lecturers; trackBy: trackDepartmentById">{{lecturerOption.name}}</option>
                    </select>
                </div>

                <div>
                    <h2>SCHOLARSHIP</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="field_sub" >{{ questionOne[1]}}</label>
                        <select class="form-control" id="field_sub" name="sub" [(ngModel)]="assessment.sub" >
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_rel" >{{ questionOne[1]}}</label>
                        <select class="form-control" id="field_rel" name="rel" [(ngModel)]="assessment.rel">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_example" >{{ questionOne[2]}}</label>
                        <select class="form-control" id="field_example" name="example" [(ngModel)]="assessment.example">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_add" >{{ questionOne[3]}}</label>
                        <select class="form-control" id="field_add" name="add" [(ngModel)] = "assessment.add" >
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>
                </div>

                <div>
                <h2>METHODS OF PRESENTATION</h2>
                <div class="form-group">
                    <label class="form-control-label" for="field_prep" >Prepares his lessons and presents material in an organized manner</label>
                    <select class="form-control" id="field_prep" name="prep" [(ngModel)] = "assessment.prep" >
                        <option [value]="null"></option>
                        <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="form-control-label" for="field_approp" >Demonstrates knowledge of subject matter</label>
                    <select class="form-control" id="field_approp" name="approp" [(ngModel)]="assessment.approp">
                        <option [value]="null"></option>
                        <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                    </select>
                </div>
                </div>
                <div>
                    <h2>COMMUNICATION AND INTERACTION</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="field_enco" >Prepares his lessons and presents material in an organized manner</label>
                        <select class="form-control" id="field_enco" name="enco" [(ngModel)] = "assessment.enco">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label" for="field_ident" >Demonstrates knowledge of subject matter</label>
                        <select class="form-control" id="field_ident" name="ident" [(ngModel)] = "assessment.ident">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_express" >Demonstrates knowledge of subject matter</label>
                        <select class="form-control" id="field_express" name="express" [(ngModel)] = "assessment.express" >
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_resp" >Demonstrates knowledge of subject matter</label>
                        <select class="form-control" id="field_resp" name="resp" [(ngModel)] = "assessment.resp">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_deal" >Demonstrates knowledge of subject matter</label>
                        <select class="form-control" id="field_deal" name="deal" [(ngModel)] = "assessment.deal" >
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <h2>LEARNING</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="field_stim" >Prepares his lessons and presents material in an organized manner</label>
                        <select class="form-control" id="field_stim" name="stim" [(ngModel)] = "assessment.stim">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label" for="field_acc" >Demonstrates knowledge of subject matter</label>
                        <select class="form-control" id="field_acc" name="acc" [(ngModel)] = "assessment.acc">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <h2>APPROACHABILITY</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="field_open" >Prepares his lessons and presents material in an organized manner</label>
                        <select class="form-control" id="field_open" name="open" [(ngModel)] = "assessment.open">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label" for="field_treat" >Demonstrates knowledge of subject matter</label>
                        <select class="form-control" id="field_treat" name="treat" [(ngModel)] = "assessment.treat">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <h2>GENERAL</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="field_lect" >The Lecturer addresses students decently</label>
                        <select class="form-control" id="field_lect" name="lect" [(ngModel)] = "assessment.lect">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label" for="field_regular" >The Lecturer attends classes regularly and punctually</label>
                        <select class="form-control" id="field_regular" name="regular" [(ngModel)] = "assessment.regular" >
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_kept" >The Lecturer kept to the official time-table for the course</label>
                        <select class="form-control" id="field_kept" name="kept" [(ngModel)] = "assessment.kept">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_scrip" >Continous Assessment scripts were graded regularly and returned to students for review</label>
                        <select class="form-control" id="field_scrip" name="scrip" [(ngModel)] = "assessment.scrip">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_overall" >Please give an overall rating</label>
                        <select class="form-control" id="field_overall" name="overall" [(ngModel)] = "assessment.overall">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <h2>ASSESSMENT OF THE TEACHING ENVIRONMENT</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="field_seats" >There are rough seats for all students during lectures</label>
                        <select class="form-control" id="field_seats" name="seats" [(ngModel)] = "assessment.seats">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label" for="field_illum" >The illumination in the classroom is adequate</label>
                        <select class="form-control" id="field_illum" name="illum" [(ngModel)]="assessment.illum" >
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_vent" >The ventilation in the classroom is adequate</label>
                        <select class="form-control" id="field_vent" name="vent" [(ngModel)]="assessment.vent">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_pas" >The public address system(PA)/acoustic is adequate</label>
                        <select class="form-control" id="field_pas" name="pas" [(ngModel)]="assessment.pas">
                            <option [value]="null"></option>
                            <option [value]="scale.id" *ngFor="let scale of scales; trackBy: trackDepartmentById">{{scale.name}}</option>
                        </select>
                    </div>
                </div>


            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
