<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lecturer">
            <h2><span>Lecturer</span> {{lecturer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{lecturer.name}}</span>
                </dd>
                <dt><span>Courses</span></dt>
                <dd>
                    <span *ngFor="let courses of lecturer.courses; let last = last">
                        <a [routerLink]="['/courses', courses?.id, 'view' ]">{{courses.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="lecturer.departmentId">
                        <a [routerLink]="['/department', lecturer.departmentId, 'view']">{{lecturer.departmentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lecturer', lecturer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
