<div>
    <h2 id="page-heading">
        <span>Lecturers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lecturer" [routerLink]="['/lecturer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lecturer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lecturers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Courses</span></th>
            <th><span>Department</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lecturer of lecturers ;trackBy: trackId">
                <td><a [routerLink]="['/lecturer', lecturer.id, 'view' ]">{{lecturer.id}}</a></td>
                <td>{{lecturer.name}}</td>
                <td>
                    <span *ngFor="let courses of lecturer.courses; let last = last">
                            <a class="form-control-static" [routerLink]="['../courses', courses?.id, 'view' ]">{{courses.title}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="lecturer.departmentId">
                        <a [routerLink]="['../department', lecturer.departmentId , 'view' ]" >{{lecturer.departmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lecturer', lecturer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lecturer', lecturer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'lecturer', { outlets: { popup: lecturer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
